.news-card {
    display: flex;
    height: 100%;
    .news-card__body {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        gap: 16px;
        background-color: $white;
        @include border-rounded-shadow($gray-500, 1px, $gray-shadow);
        transition: all 0.4s ease-in-out;
    
        .card-image {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    
        .card-content {
            display: flex;
            flex-direction: column;
            gap: 6px;
    
            &__title {
                transition: all 0.4s ease-in-out;
                @include text-truncate(2);
            }
    
            &__copy {
                font-size: 14px;
                font-weight: 400;
                color: $gray-300;
                @include text-truncate(2);
            }
        }
    
        &:hover {
            @include border-rounded-shadow($blue-400, 1px, $blue-shadow);
    
            .card-content {
                &__title {
                    color: $blue-400;
                }
            }
        }
    }
}