.button {
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    gap: 10px;
    transition:0.4s ease-in-out;
    
    &__blue {
        max-width: 221px;
        color: $white;
        background: $button-gradient;
        transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-position: 100%;
        }
    }

    &__submit {
        max-width: 100%;
    }
    &__outline {
        background-color: $blue-bg-secondary;
        border: 1px solid $main-blue-stroke;
        padding: 12px 24px;
        &:hover,
        &.active {
            background-color: $main-blue;
            border-color: $main-blue;
            color: $white;
        }
    }

    &__circle-outline {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid $gray-stroke;
        color: $text-main;

        &:hover,
        &.active {
            color: $main-blue;
            border-color: $main-blue;
            background-color: $blue-bg-secondary;
        }
    }
}