.button {
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    gap: 10px;
    transition:0.4s ease-in-out;
    
    &__blue {
        max-width: 221px;
        color: $white;
        background: $button-gradient;
        transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover {
            background-position: 100%;
        }
    }

    &__submit {
        max-width: 100%;
    }

    &__tab {
        width: fit-content;
        padding: 12px 24px;
        background-color: $main-aliceblue;
        border: 1px solid $main-blue-stroke;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.4s ease-in-out;

        &.active,
        &.active:hover {
            background-color: $main-blue;
            border-color: $main-blue;
            color: $white;
        }

        &:hover {
            background-color: darken($main-aliceblue, 10%);
            border-color: $main-blue;
            
        }
    }
}