
// Calendar Card
.calendar__card {
    @include grid(12, 24px);
    padding: 32px;
    height: 100%;    
    background-color: $main-aliceblue;
    @include border-rounded-shadow(unset, 0, $blue-shadow);

    // Content Block
    &-content {
        grid-column: span 6;

        .title {
            text-align: center;
            padding-bottom: 6px;
        }

        .subtitle {
            text-align: justify;
            padding-bottom: 24px;
            color: $text-secondary;
        }

        .form {

            &-wrapper {
                @include grid(2, 10px);
                margin-bottom: 24px;
            }

            &-group {
                @include flex(column, flex-start, flex-start);
                gap: 4px;
                width: 100%;
                padding: 12px;
                border-radius: 8px;
                border: 1px solid lighten($main-blue-stroke, 40%);
                background-color: $white;

                &__label {
                    color: $text-secondary;
                    padding-bottom: 8px;
                }

                &__input {
                    font-weight: 600;
                    width: 100%;
                    color: $main-blue;
                    transition: all 0.4s ease-in-out;

                    &::placeholder {
                        color: $text-main;
                        opacity: 1;
                    }

                    &:hover,
                    &:focus {
                        &::placeholder {
                            color: $main-blue;
                        }
                    }
                }

                &__options {
                    @include flex(row, center, center);
                    gap: 12px;

                    label {
                        @include flex(row, center, center); 
                        gap: 6px;
                        color: $text-main;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    input[type="radio"] {
                        position: relative;
                        width: 22px;
                        height: 22px;
                        appearance: none;
                        border: 2px solid $text-main; 
                        border-radius: 50%;
                
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%; 
                            left: 50%;
                            width: 12px;
                            height: 12px;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            background-color: transparent;
                            transition: background-color 0.3s ease;
                        }
                
                        &:checked::before {
                            background-color: $text-main;
                        }
                    }
                }
            }
        }
        
    }

    // Media Block
    &-media {
        @include flex(row, center, center);
        grid-column: span 6;

        &-img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: $mobileMedium) {
        grid-template-columns: auto auto;

        &-content {
            grid-column: span 12;
        }

        &-media {
            grid-column: span 12;
            grid-row: 1;
        }
    }

    @media (max-width: $mobileSmall) {
        padding: 16px;

        &-content {
            .form {
                &-wrapper {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

// ANSP Card & Med Safety Card
.ansp__card,
.medapp__card {
    @include flex(row, center, center);
    max-height: 70px;
    height: 100%;
    width: 100%;
    padding: 16px;
    gap: 10px;
    color: $text-main;
    text-align: center;

    &-text {
        font-size: 16px;
    }

    @media (max-width: $mobileMedium) {
        height: 70px;
    }

    
}

.ansp__card {
    background-color: $green-bg;
    @include border-rounded-shadow($green-bg, 0px, $green-shadow);

    @media (max-width: $tablet) {
        grid-column: 1 / span 6;
        grid-row: 1;
    }

    @media (max-width: $mobileMedium) {
        grid-column: span 12;
        grid-row: 1;
    }
}

.medapp__card {
    background-color: $yellow-bg;
    @include border-rounded-shadow($yellow-bg, 0px, $yellow-shadow);

    &-text {
        text-decoration: underline;
    }

    @media (max-width: $tablet) {
        grid-column: 7 / span 6;
        grid-row: 1;
    }

    @media (max-width: $mobileMedium) {
        grid-column: span 12;
        grid-row: 2;
    }
}

// News Card
.news__card {
    display: flex;

    &-body {
        @include flex(column, stretch, center);
        padding: 16px;
        gap: 16px;
        background-color: $white;
        @include border-rounded-shadow($gray-stroke-secondary, 0, $gray-shadow);
        transition: all 0.4s ease-in-out;

        &:hover,
        &:focus {
            @include border-rounded-shadow($main-blue, 0, $blue-shadow);

            .news__card-content__title {
                color: $main-blue;
            }
        }

        .news__card-media {
            width: 100%;
        
            &-img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 4px;
            }
        }
    
        .news__card-content {
            @include flex(column, flex-start, flex-start);
            gap: 6px;
    
            &__title {
                @include text-truncate(2);
                color: $text-main;
                transition: all 0.4s ease-in-out;
            }
    
            &__copy {
                @include text-truncate(2);
                @include adaptiv-value("font-size", 14, 12, 1);
                @include adaptiv-value("line-height", 22, 18, 1);
                color: $text-secondary;
            }
        }
    }
}

// Quote Card
.quote-card {
    padding: 1px;
    border-radius: 8px;
    @include adaptiv-value('font-size', 16, 12, 1);
    @include adaptiv-value('line-height', 24, 22, 1);
    
    .blockquote-wrapper {
        @include flex(row, flex-start, stretch);
        color: $text-main;
        padding: 23px;
        border-radius: 7px;


        .icon {
            position: relative;
            margin-right: 24px;
            display: flex;
            align-items: center;
            
            i {
                font-size: 26px;
                z-index: 2;
            }
            
            &::before {
                content: '';
                position: absolute;
                width: 2px;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);

            }

            &::after {
                content: '';
                position: absolute;
                width: 26px;
                max-height: calc(26px + 4px + 4px);
                height: 100%;
            }
        }
    }

    &.quote {
        background: linear-gradient(90deg, $main-blue, $white 100%);
        
        .blockquote-wrapper {
            background: linear-gradient(90deg, $main-aliceblue 30%, $white 100%);

            .icon {
                i {
                    color: $main-blue;
                }

                &::before {
                    background-color: $main-blue;
                    opacity: 0.4;
                }

                &::after {
                    background-color: $main-aliceblue;
                }
            }
        }
    }

    &.info {
        background: linear-gradient(90deg, $orange-bg, $white 100%);
        
        .blockquote-wrapper {
            background: linear-gradient(90deg, lighten($orange-bg, 45%) 30%, $white 100%);

            .icon {
                i {
                    color: $orange-bg;
                }

                &::before {
                    background-color: $orange-bg;
                    opacity: 0.4;
                }

                &::after {
                    background-color: lighten($orange-bg, 45%)
                }
            }
        }
    }
}

// Image Card
.photos-card,
.infographs-card {
    position: relative;
    display: flex;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
    }

    i {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        padding: 15px;
        border-radius: 50%;
        color: $text-main;
        background-color: rgba(255, 255, 255, 0.8);
        transition: opacity 0.4s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.0);
        border-radius: 4px;
        transition: background-color 0.4s ease-in-out;
    }

    &:hover {
        &::before {
            background-color: rgba(0, 0, 0, 0.5);
        }

        i {
            opacity: 1;
        }
    }
}

// Image with Title Card
.protocols-card {
    position: relative;
    .img-wrapper {
        position: relative;
        margin-bottom: 8px;
        img {
            width: 100%;
            max-height: 210px;
            object-fit: cover;
        }

        i {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            padding: 15px;
            border-radius: 50%;
            color: $text-main;
            background-color: rgba(255, 255, 255, 0.8);
            transition: opacity 0.4s ease-in-out;
        }
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.0);
            border-radius: 4px;
            transition: background-color 0.4s ease-in-out;
        }
    }

    h5 {
        font-weight: 500;
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        h5 {
            color: $main-blue;
        }

        .img-wrapper::before {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .img-wrapper i {
            opacity: 1;
        }
    }
}

// Video Card
.videos-card {
    position: relative;
    border: 1px solid $gray-stroke;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 20px;
        z-index: 10;
        font-size: 30px;
    }
    h5 {
        position: absolute;
        padding: 16px 24px;
        bottom: 0;
        width: 100%;
        color: $text-main;
        background-color: rgba(0, 122, 255, 0.2);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px); /* Safari */
        transition: background-color 0.4s ease-in-out;
    }

    &:hover {
        h5 {
            background-color: rgba(0, 122, 255, 0.5);
        }
    }
}

// Link Card
.link-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    background-color: $white;
    border: 1px solid $gray-stroke;
    transition: all 0.4s ease-in-out;

    &:hover {
        border-color: $gray-stroke-hover;
    }

    .icon {
        font-size: 30px;
        color: $main-blue;
    }

    h5 {
        flex: 1;
        font-weight: 500;
    }
}