.page-intro {
  @include adaptiv-value("padding-top", 40, 20, 1);
  @include adaptiv-value("padding-bottom", 40, 20, 1);
  background-color: $white;
  i {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 24px;
    border: 1px solid $main-blue-stroke;
    border-radius: 8px;
    background-color: $gray-bg;
    padding: 12px;
    margin-bottom: 12px;
    transition: 0.2s ease-in-out;
    &:hover {
      border-color: $main-blue;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
  p {
    text-align: center;
    margin-bottom: 24px;
    color: $text-secondary;
  }
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    a {
      width: fit-content;
      @include adaptiv-value("font-size", 16, 14, 1);
    }
  }
  .search-form {
    position: relative;
    max-width: 552px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
    input {
      width: 100%;
      padding: 12px 48px 12px 12px;
      border: 1px solid $gray-stroke;
      border-radius: 1000px;
      color: $text-main;
      transition: 0.2s;
      &:focus {
        border-color: $gray-stroke-hover;
      }
    }
    button {
      position: absolute;
      @include flex-center;
      right: 12px;
      width: 20px;
      height: 20px;

      i {
        font-size: 20px;
        background-color: unset;
        border: unset;
        padding: unset;
        margin: unset;
      }
    }
  }
}