h1 {
	@include adaptiv-value("font-size", 40, 28, 1);
	font-weight: 500;
}
h2 {
	@include adaptiv-value("font-size", 28, 16, 1);
	font-weight: 600;
}
h3 {
    @include adaptiv-value("font-size", 24, 14, 1);
    font-weight: 600;
}
h4 {
    @include adaptiv-value("font-size", 20, 12, 1);
    font-weight: 600;
}
h5 {
    @include adaptiv-value("font-size", 16, 12, 1);
    font-weight: 600;
}
h6 {
    @include adaptiv-value("font-size", 14, 12, 1);
    font-weight: 700;
}

p {
    @include adaptiv-value('font-size', 16, 12, 1);
    line-height: 22px;
}

label {
    font-size: 16px;
}

input {
    font-size: 16px;
    font-weight: 400;
    color: $text-main;
    cursor: pointer;
}

.border-rounded {
	border: 1px solid $gray-stroke;
	border-radius: 1000px;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.col-1 {
    grid-column: 1 span;
}
.col-2 {
    grid-column: 2 span;
}
.col-3 {
    grid-column: 3 span;
}
.col-4 {
    grid-column: 4 span;
}
.col-5 {
    grid-column: 5 span;
}
.col-6 {
    grid-column: 6 span;
}
.col-7 {
    grid-column: 7 span;
}
.col-8 {
    grid-column: 8 span;
}
.col-9 {
    grid-column: 9 span;
}
.col-10 {
    grid-column: 10 span;
}
.col-11 {
    grid-column: 11 span;
}
.col-12 {
    grid-column: 12 span;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 10px;
    > a {
        display: block;
        grid-column: span 4;
        @media (max-width: $mobile) {
          grid-column: span 5;
        }
        @media (max-width: $mobileMedium) {
          grid-column: span 10;
            
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

.grid-6 {
    grid-template-columns: repeat(6, 1fr);
}

.gap-1 {
    gap: 10px;
}
.gap-2 {
    gap: 20px;
}
.gap-3 {
    @include adaptiv-value('gap', 30, 20, 1);
}
.gap-4 {
    @include adaptiv-value('gap', 40, 20, 1);
}
.gap-5 {
    @include adaptiv-value('gap', 50, 24, 1);
}

.flex-gap-1 {
    gap: 10px;
}
.flex-gap-2 {
    gap: 20px;
}
.flex-gap-3 {
    @include adaptiv-value('gap', 30, 20, 1);
}
.flex-gap-4 {
    @include adaptiv-value('gap', 40, 20, 1);
}
.flex-gap-5 {
    @include adaptiv-value('gap', 50, 24, 1);
}

.align-center {
    align-items: center;
}

.tabs__content {
    display: none;
    &--active {
        display: block;
    }
}

.square-image {
    width: 100%;
    height: 218px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.full-content {
    margin: 40px 0;
}
