// Blue Palette
$blue-50: #E4F1FF;                  // Light blue shade (E4F1FF)
$blue-100: rgba(0, 122, 255, 0.2);  // Primary blue - 20%
$blue-200: rgba(0, 122, 255, 0.5);  // Primary blue - 50%
$blue-300: #7CB9FF;                 // Blue shade (7CB9FF)
$blue-400: #007AFF;                 // Primary blue
$blue-500: #0171EC;                 // Hover blue
$blue-600: #005EC3;
$blue-700: #004999;


// Gray Palette
$gray-100: #ECECEC;
$gray-200: #B6B6B6;
$gray-300: #757A89;       // Text - secondary
$gray-400: #262626;       // Text - main
$gray-500: #DEDEDE;  


// Other Colors
$white: #FFFFFF;          // Backgrounds, text, etc.
$error: #FF3B30;          // Error messages, warnings

$gray-shadow: #EEEEEE;

$blue-bg-secondary: #F2F8FF;
$blue-shadow: #BAD5F3;

$yellow-bg: #FFFEE8;
$yellow-shadow: #FFE97B;

$green-bg: #EFFFE6;
$green-shadow: #89EB52;
