<section class="news">
    <!-- News Banners -->
    <div class="news__banners">
        <a class="news__banner news__banner-link" href="#">
            <img class="news__banner-img" src="@img/banners/vaccinare.svg" alt="Vaccinare.gov.md" width="360" height="108">
        </a>
        <a class="news__banner news__banner-link" href="#">
            <img class="news__banner-img" src="@img/banners/covid.svg" alt="Covidinfo.gov.md" width="360" height="108">
        </a>
    </div>

    <!-- News Cards -->
    <div class="news__cards">
        <div class="news__cards-wrapper">
            <div class="news__cards-col">
                @@include('../cards/news-card.html', {
                    'src': '@img/poliomielita.png',
                    'alt': 'Poliomielita',
                    'title': 'Poliomielita', 
                    'description': 'Poliomielita sau paralizia infantila este o boala virala, infectioasa, produsa de virusul poliomielitic (virus din clasa enterovirusurilor) care poate determina paralizie, dificultati de respiratie si chiar deces. Pare sa existe din timpuri stravechi, fiind mentionat chiar si in picturile si sculpturile egiptene antice.',
                })
            </div>
            <div class="news__cards-col">
                @@include('../cards/news-card.html', {
                    'src': '@img/gripa.png',
                    'alt': 'Gripa',
                    'title': 'Gripa - boală prevenibilă prin vaccinare!', 
                    'description': 'Gripa, sau influenza, este o boală respiratorie contagioasă cauzată de anumiți viruși care ne invadează și ne infectează nasul, gâtul și chiar plămâni...',
                })
            </div>
            <div class="news__cards-col">
                @@include('../cards/news-card.html', {
                    'src': '@img/omicron.png',
                    'alt': 'Omicron',
                    'title': 'Noua variantă Omicron EG.5.1 al virusului COVID-19 “Eris”', 
                    'description': 'De la prima apariție a noului coronavirus, numit COVID-19 la nivel global, acest virus și-a schimbat forma și a devenit, treptat, diferit de varianta...',
                })
            </div>
            <div class="news__cards-col">
                @@include('../cards/news-card.html', {
                    'src': '@img/hpv.png',
                    'alt': 'HPV',
                    'title': 'Dovezile eficacității vaccinului contra HPV la băieți', 
                    'description': 'Virusul papiloma uman (HPV) este un virus ADN dublu catenar care reprezintă cauza cea mai frecventă de infecție cu transmitere sexuală la ambele sexe. Deși inițial se credea că afectează în primul rând femeile, incidența infecției genitale cu HPV în rândul bărbaților este similară cu cea a femeilor.',
                })
            </div>
        </div>
        <a class="link link__secondary news__cards-link" href="#">Vezi toate noutățile</a>
    </div>
</section>