<section class="hero">
    <div class="hero-content__left">
        <div class="card-calendar">
            <div class="card-calendar__content">
                <h3 class="title">Accesează calendarul interactiv al vaccinărilor!</h3>
                <p class="description">Calendarul interactiv al vaccinărilor vă permite să introduceți data, luna și anul nașterii pentru a vedea perioadele de imunizare. Puteți descărca și printa acest calendar.</p>
                
                <form action="#" class="form">
                    <div class="form-container">
                        <div class="form-group">
                            <label for="day">Data nașterii:</label>
                            <input type="text" id="day" name="day" placeholder="DD">
                        </div>
                        <div class="form-group">
                            <label for="year">Anul nașterii:</label>
                            <input type="text" id="year" name="year" placeholder="YYYY">
                        </div>
                        <div class="form-group">
                            <label for="month">Luna nașterii:</label>
                            <input type="text" id="month" name="month" placeholder="MM">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gen:</label>
                            <div class="gender-options">
                                <label><input type="radio" name="gender" value="F"> F</label>
                                <label><input type="radio" name="gender" value="M"> B</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="button button__blue button__submit">Vizualizează calendarul</button>
                </form>
                
            </div>
            <div class="card-calendar__image">
                <img src="https://placehold.co/340x300" alt="test">
            </div>
        </div>
    </div>
    <div class="hero-content__right">
        <div class="card-info card-ansp">
            <p>Linia verde ANSP: <strong>080 012 300</strong></p>
        </div>

        <div class="card-info card-app">
            <img src="@img/med-safety-app.svg" alt="Aplicația Med Safety">
            <p>Aplicația Med Safety</p>
        </div>
        <!-- <div class="card-info card-benefits">
            <div class="swiper slider-benefits">
                <div class="swiper-wrapper">
                    <a class="swiper-slide">
                        <div class="swiper-slide__body">
                            <h3>Beneficiile vaccinării</h3>
                            <img src="https://placehold.co/360x108" alt="test">
                            <p>Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                        </div>
                    </a>
                    <a class="swiper-slide">
                        <div class="swiper-slide__body">
                            <h3>Lorem ipsum</h3>
                            <img src="https://placehold.co/360x108" alt="test">
                            <p>Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>/ -->
        <div class="card-info card-benefits">
            <div class="swiper slider-benefits">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="swiper-slide__body">
                        <h3 class="title">Beneficiile vaccinării</h3>
                        <img src="https://placehold.co/360x108" alt="test">
                        <p class="description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide__body">
                        <h3 class="title">Beneficiile vaccinării</h3>
                        <img src="https://placehold.co/360x108" alt="test">
                        <p class="description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide__body">
                        <h3 class="title">Beneficiile vaccinării</h3>
                        <img src="https://placehold.co/360x108" alt="test">
                        <p class="description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide__body">
                        <h3 class="title">Beneficiile vaccinării</h3>
                        <img src="https://placehold.co/360x108" alt="test">
                        <p class="description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="swiper-slide__body">
                        <h3 class="title">Beneficiile vaccinării</h3>
                        <img src="https://placehold.co/360x108" alt="test">
                        <p class="description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                    </div>
                  </div>

                </div>
                <div class="swiper-pagination"></div>
              </div>
        </div>
    </div>
</section>