<section class="news">
    <div class="banners">
        <a href="#">
            <img src="https://placehold.co/360x108" alt="Vaccinare.gov.md">
        </a>
        <a href="#">
            <img src="https://placehold.co/360x108" alt="Covidinfo.gov.md">
        </a>
    </div>
    <div class="news-cards">
        <div class="cards-wrapper">
            <div class="col">
                @@include('../news-card.html')
            </div>
            <div class="col">
                <a class="news-card" href="#">
                    <div class="news-card__body">
                        <div class="card-image">
                            <img src="https://placehold.co/232x180" alt="">
                        </div>
                        <div class="card-content">
                            <h4 class="card-content__title">Gripa - boală prevenibilă prin vaccinare prin vaccinare prin vaccinare!</h4>
                            <p class="card-content__copy">Gripa, sau influenza, este o boală respiratorie contagioasă cauzată de anumiți viruși care ne invadează și ne infectează nasul, gâtul și chiar plămâni...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                @@include('../news-card.html')
            </div>
            <div class="col">
                @@include('../news-card.html')
            </div>
            
        </div>
        <a class="link link__secondary" href="#">Vezi toate noutățile</a>
    </div>
</section>