<div class="accordion-item"  data-expanded="false">
    <div class="accordion-header">
        <p class="accordion-info__number">1</p>
        <h5 class="accordion-info__label">B-0</h5>
        <p class="accordion-info__period">0 - 1 luni</p>
        <p class="accordion-info__date">20 Octombrie 2001</p>
        <button class="accordion-button">
            <i class="icon-plus"></i>
        </button>
    </div>
    <div class="accordion-body">
        <span class="separator"></span>
        <div class="accordion-content">
            <p>
                Concomitent în aceeaşi zi: injectabil intramuscular HepB+DTP+Hib în componenţa vaccinului pentavalent, PC și VPI separat cu diferite seringi şi în diferite locuri anatomice; bVPO şi RV picături în gură
            </p>
        </div>
    </div>
</div>