<!-- <aside class="aside-share social-links">
    <a href="#" class="social-links__item">
        <img src="@img/icons/facebook-aside.svg" alt="Facebook" class="social-links__icon" />
    </a>
    <a href="#" class="social-links__item">
        <img src="@img/icons/linkedin-aside.svg" alt="LinkedIn" class="social-links__icon" />
    </a>
    <a href="#" class="social-links__item">
        <img src="@img/icons/telegram-aside.svg" alt="Telegram" class="social-links__icon" />
    </a>
    <a href="#" class="social-links__item">
        <img src="@img/icons/copy-aside.svg" alt="Link" class="social-links__icon" />
    </a>
</aside> -->