<div id="calendar-modal" class="modal">
    <div class="modal-content">
        <div class="modal-content__header">
            <p class="modal-title">Rezultate</p>
            <p class="modal-info">
                <span class="modal-separator">-</span>
                <span class="modal-date">20 / 09 / 2001</span>
                <span class="modal-separator">-</span>
                <span class="modal-gender">F</span>
            </p>
            <i class="icon-x-mark close-modal close"></i>
        </div>
        <div class="modal-content__body">
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
            @@include('./accordion.html')
        </div>
    </div>
</div>