<div id="contact-modal" class="modal">
    <div class="modal-content">
        <div class="modal-content__header">
            <h3 class="modal-title">Contactați-ne</h3>
            <p class="modal-subtitle">Scrieți un mesaj și noi vă ajutăm cât mai curând posibil</p>
            <i class="icon-x-mark close-modal close"></i>
        </div>
        <div class="modal-content__body">
            <form class="contact-form">
                <div class="form-row">
                    <input type="text" id="first-name" name="first-name" placeholder="Nume" required>
                    <input type="text" id="last-name" name="last-name" placeholder="Prenume" required>
                </div>
                <div class="form-row">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                    <input type="tel" id="phone" name="phone" placeholder="Nr. telefon" required>
                </div>
                <div class="form-row">
                    <textarea class="message" id="message" name="message" placeholder="Mesaj" rows="4"></textarea>
                </div>
                <div class="form-row">
                    <button type="submit" class="button button__blue ">Finalizează formular</button>
                </div>
            </form>
        </div>
    </div>
</div>
