<footer class="footer">
    <div class="footer__container">
        <div class="footer__wrapper">
            <div class="footer-col footer-col__contact">
                <div class="footer-content">
                    <h3 class="footer-col__contact-title">Aveți întrebări suplimentare?</h3>
                    <p class="footer-col__contact-subtitle">Scrieți-ne un mesaj și noi vă ajutăm!</p>
                </div>
                <button id="contact-modal-btn" class="button button__blue">Contactați-ne</button>
            </div>
            <div class="footer-col footer-col__info">
                <img class="footer-col__info-img" src="@img/logos/ue.svg" alt="Uniunea Europeana">
                <h4 class="footer-col__info-title">Sursă oficială de informare despre procesul de vaccinare din Republica Moldova</h4>
            </div>
        </div>
    </div>
</footer>