<footer class="footer">
    <div class="footer__container">
        <div class="footer-wrapper">
            <div class="footer__col">
                <div class="content-wrapper">
                    <h3>Aveți întrebări suplimentare?</h3>
                    <p>Scrieți-ne un mesaj și noi vă ajutăm!</p>
                </div>
                <button id="contact-modal-btn" class="button button__blue">Contactați-ne</button>
            </div>
            <div class="footer__col">
                <img src="@img/logos/ue.svg" alt="Uniunea Europeana" width="170" height="150">
                <h4>Sursă oficială de informare despre procesul de vaccinare din Republica Moldova</h4>
            </div>
        </div>
    </div>
</footer>
