<a class="news-card" href="#">
    <div class="news-card__body">
        <div class="card-image">
            <img src="https://placehold.co/232x180" alt="">
        </div>
        <div class="card-content">
            <h4 class="card-content__title">Poliomielita</h4>
            <p class="card-content__copy">Poliomielita sau paralizia infantila este o boala virala, infectioasa, produsa de virusul poliomielitic (virus din clasa enterovirusurilor) care poate determina paralizie, dificultati de respiratie si chiar deces. Pare sa existe din timpuri stravechi, fiind mentionat chiar si in picturile si sculpturile egiptene antice.</p>
        </div>
    </div>
</a>
