<div class="benefits">
    <!-- <div class="slider-benefits swiper hero__slider">
        <div class="slider-benefits__wrapper swiper-wrapper">
    
            <div class="slider-benefits__slide swiper-slide">
                <div class="slider-benefits__body">
                    <h4 class="slider-benefits__title">Beneficiile vaccinării</h4>
                    <img class="slider-benefits__img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                    <p class="slider-benefits__description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                </div>
            </div>
    
            <div class="slider-benefits__slide swiper-slide">
                <div class="slider-benefits__body">
                    <h4 class="slider-benefits__title">Beneficiile vaccinării</h4>
                    <img class="slider-benefits__img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                    <p class="slider-benefits__description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                </div>
            </div>
    
            <div class="slider-benefits__slide swiper-slide">
                <div class="slider-benefits__body">
                    <h4 class="slider-benefits__title">Beneficiile vaccinării</h4>
                    <img class="slider-benefits__img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                    <p class="slider-benefits__description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                </div>
            </div>
    
            <div class="slider-benefits__slide swiper-slide">
                <div class="slider-benefits__body">
                    <h4 class="slider-benefits__title">Beneficiile vaccinării</h4>
                    <img class="slider-benefits__img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                    <p class="slider-benefits__description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                </div>
            </div>
    
            <div class="slider-benefits__slide swiper-slide">
                <div class="slider-benefits__body">
                    <h4 class="slider-benefits__title">Beneficiile vaccinării</h4>
                    <img class="slider-benefits__img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                    <p class="slider-benefits__description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
                </div>
            </div>
    
        </div>
        <div class="slider-benefits__pagination swiper-pagination"></div>
    </div> -->
    <div class="benefits-slider__slider">
        <div class="slider-benefits__body swiper">
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
            <div class="slider-benefits__slide">
                <h4 class="title">Beneficiile vaccinării</h4>
                <img src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
                <p class="description">
                    Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.
                </p>
            </div>
        </div>
        <div class="slider-benefits-controls">
            <div class="slider-benefits-controls__dots"></div>
        </div>
    </div>
</div>
