<div class="benefits-slider__slider">
    <div class="slider-benefits__body swiper">
        <div class="slider-benefits__slide">
            <h4 class="slider-benefits__slide-title">Beneficiile vaccinării</h4>
            <img class="slider-benefits__slide-img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
            <p class="slider-benefits__slide-description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
        </div>
        <div class="slider-benefits__slide">
            <h4 class="slider-benefits__slide-title">Beneficiile vaccinării</h4>
            <img class="slider-benefits__slide-img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
            <p class="slider-benefits__slide-description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
        </div>
        <div class="slider-benefits__slide">
            <h4 class="slider-benefits__slide-title">Beneficiile vaccinării</h4>
            <img class="slider-benefits__slide-img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
            <p class="slider-benefits__slide-description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
        </div>
        <div class="slider-benefits__slide">
            <h4 class="slider-benefits__slide-title">Beneficiile vaccinării</h4>
            <img class="slider-benefits__slide-img" src="@img/benefits-img.svg" alt="Beneficiile vaccinării" width="320" height="150">
            <p class="slider-benefits__slide-description">Epidemiile sunt un risc enorm pentru comunitate și sănătatea publică.</p>
        </div>
    </div>
    <div class="slider-benefits-controls">
        <div class="slider-benefits-controls__dots swiper-pagination">
            <button type="button" class="swiper-pagination-bullet"></button>
            <button type="button" class="swiper-pagination-bullet"></button>
            <button type="button" class="swiper-pagination-bullet"></button>
            <button type="button" class="swiper-pagination-bullet"></button>
        </div>
    </div>
</div>